In [2]:
%matplotlib inline
import pandas
import json
import matplotlib.pyplot as plot
import numpy as np
import os

In [8]:
cwd = os.getcwd()
dataDir = os.path.join(os.path.abspath(os.path.join(cwd,os.pardir)),"Data")

In [10]:
orderDf = pandas.read_csv(os.path.join(dataDir, "order_data.csv"))
riderDf = pandas.read_csv(os.path.join(dataDir,"rider_location.csv"))

In [17]:
#converting to datetime format
orderDf["scheduled_time"] = pandas.to_datetime(orderDf["scheduled_time"], errors='coerce')
orderDf["delivered_time"] = pandas.to_datetime(orderDf["delivered_time"], errors='coerce')

orderDf.dtypes

In [64]:
dataDir

'/home/cmehta/Documents/hackathon/shadowfax-codewars/Data'

In [55]:
orderDf

,order_id,seller_id,rider_id,cluster_id,scheduled_time,delivered_time,pickup_latitude,pickup_longitude,delivered_latitude,delivered_longitude
0,1865297,2213,2765,56,2016-04-03 05:01:45,2016-04-03 05:42:11,12.905952,77.585569,12.884680,77.582000
1,1866145,2287,3368,91,2016-04-03 05:50:44,NaT,12.965832,77.716619,12.962940,77.712300
2,1866147,343,973,41,2016-04-03 05:50:56,2016-04-03 06:15:49,12.959203,77.653895,12.959800,77.649000
3,1866159,2287,3316,91,2016-04-03 05:50:36,2016-04-03 05:59:06,12.965832,77.716619,12.962940,77.712300
4,1866218,2313,3424,56,2016-04-03 05:51:55,NaT,12.906290,77.593002,12.901620,77.582000
5,1866341,310,1385,39,2016-04-03 06:02:11,2016-04-03 06:27:19,12.976993,77.640762,12.971890,77.641150
6,1866406,2357,2158,52,2016-04-03 06:03:30,2016-04-03 06:48:25,12.916627,77.606220,12.926124,77.607070
7,1866466,2287,3316,91,2016-04-03 06:08:38,2016-04-03 07:21:52,12.965832,77.716619,12.962940,77.712300
8,1866472,2287,3502,91,2016-04-03 06:09:09,NaT,12.965832,77.716619,12.962940,77.712300
9,1866501,2243,3052,96,2016-04-03 06:07:59,NaT,12.890442,77.598052,12.885120,77.620680
10,1866532,2357,2373,52,2016-04-03 06:11:29,2016-04-03 06:34:17,12.916627,77.606220,12.896300,77.635700
11,1866553,655,1281,100,2016-04-03 06:12:29,2016-04-03 06:43:03,12.925140,77.550540,12.962400,77.568390
12,1866630,655,1303,100,2016-04-03 06:18:38,NaT,12.925140,77.550540,12.962400,77.568390
13,1866633,2357,2373,52,2016-04-03 06:19:15,2016-04-03 06:41:25,12.916627,77.606220,12.915100,77.612800
14,1866636,343,972,41,2016-04-03 06:17:11,2016-04-03 06:50:09,12.959203,77.653895,12.965700,77.657000
15,1866642,1991,1267,52,2016-04-03 06:18:35,2016-04-03 06:42:09,12.916759,77.592612,12.910490,77.585720
16,1866778,1972,3105,41,2016-04-03 06:24:28,2016-04-03 06:37:54,12.959226,77.656307,12.959561,77.649000
17,1866780,655,1281,100,2016-04-03 06:27:02,NaT,12.925140,77.550540,12.940800,77.545290
18,1866785,1972,3105,41,2016-04-03 06:27:51,2016-04-03 06:37:57,12.959226,77.656307,12.959800,77.649000
19,1866788,1458,2515,74,2016-04-03 06:28:00,NaT,12.955890,77.708317,12.951200,77.699770
20,1866855,655,3673,100,2016-04-03 06:31:57,2016-04-03 06:57:12,12.925140,77.550540,12.921280,77.542290
21,1866871,693,2565,42,2016-04-03 06:35:24,2016-04-03 06:54:35,12.912607,77.650485,12.910000,77.640000
22,1866875,310,2583,39,2016-04-03 06:35:59,2016-04-03 08:07:52,12.976993,77.640762,12.990420,77.684170
23,1866921,928,2217,38,2016-04-03 06:35:02,NaT,12.939773,77.625284,12.936280,77.612800
24,1866926,310,2583,39,2016-04-03 06:38:09,2016-04-03 08:41:33,12.976993,77.640762,12.990420,77.684170
25,1866999,1972,3149,41,2016-04-03 06:41:16,NaT,12.959226,77.656307,12.953500,77.643640
26,1867134,310,3520,39,2016-04-03 06:40:46,NaT,12.976993,77.640762,12.971890,77.641150
27,1867142,1972,3149,41,2016-04-03 06:43:27,2016-04-03 07:08:21,12.959226,77.656307,12.953831,77.658335
28,1867144,310,788,39,2016-04-03 06:41:26,2016-04-03 07:09:57,12.976993,77.640762,12.981470,77.619210
29,1867157,929,2131,38,2016-04-03 06:42:35,2016-04-03 07:21:09,12.934610,77.611288,12.943208,77.610420
...,...,...,...,...,...,...,...,...,...,...
2408,1902489,2289,3112,91,2016-04-05 18:30:31,2016-04-05 18:35:06,12.985805,77.737007,12.970853,77.749980
2409,1902493,2289,3112,91,2016-04-05 18:30:46,2016-04-05 18:36:33,12.985805,77.737007,12.970853,77.749980
2410,1902494,2289,3112,91,2016-04-05 18:31:07,2016-04-05 18:36:42,12.985805,77.737007,12.978900,77.715600
2411,1902497,2289,3112,91,2016-04-05 18:31:28,2016-04-05 18:35:21,12.985805,77.737007,12.992220,77.715910
2412,1902499,2289,3112,91,2016-04-05 18:31:46,2016-04-05 18:35:34,12.985805,77.737007,12.992220,77.715910
2413,1902500,2289,3112,91,2016-04-05 18:32:07,2016-04-05 18:35:45,12.985805,77.737007,12.978900,77.715600
2414,1902502,2289,3112,91,2016-04-05 18:32:23,2016-04-05 18:35:58,12.985805,77.737007,12.970853,77.749980
2415,1902506,2289,3112,91,2016-04-05 18:32:46,2016-04-05 18:36:17,12.985805,77.737007,12.970853,77.749980
2416,1902509,2289,3112,91,2016-04-05 18:33:06,2016-04-05 18:36:57,12.985805,77.737007,12.970853,77.749980
2417,1902511,2289,3112,91,2016-04-05 18:33:23,2016-04-05 18:37:15,12.985805,77.737007,12.970853,77.749980
2418,1902518,2289,3504,91,2016-04-05 18:35:24,2016-04-05 18:39:32,12.985805,77.737007,12.992220,77.715910
2419,1902520,2289,3504,91,2016-04-05 18:35:41,2016-04-05 18:39:17,12.985805,77.737007,12.978900,77.715600
2420,1902541,2289,3651,91,2016-04-05 18:39:01,NaT,12.985805,77.737007,12.978900,77.715600
2421,1902549,2289,3395,91,2016-04-05 18:40:01,2016-04-05 18:41:22,12.985805,77.737007,12.970853,77.749980
2422,1902563,2289,3556,91,2016-04-05 18:42:09,2016-04-05 18:44:35,12.985805,77.737007,12.970853,77.749980
2423,1902565,2289,3556,91,2016-04-05 18:42:25,2016-04-05 18:44:33,12.985805,77.737007,12.970853,77.749980
2424,1902567,2289,3556,91,2016-04-05 18:42:43,2016-04-05 18:44:22,12.985805,77.737007,12.970853,77.749980
2425,1902569,2289,3556,91,2016-04-05 18:43:05,2016-04-05 18:44:36,12.985805,77.737007,12.992220,77.715910
2426,1902572,2289,3556,91,2016-04-05 18:43:37,2016-04-05 18:44:47,12.985805,77.737007,12.992220,77.715910
2427,1902574,2289,3556,91,2016-04-05 18:44:10,2016-04-05 18:44:57,12.985805,77.737007,12.978900,77.715600
2428,1902576,2289,3556,91,2016-04-05 18:44:34,2016-04-05 18:45:18,12.985805,77.737007,12.978900,77.715600
2429,1902578,2289,3556,91,2016-04-05 18:44:52,2016-04-05 18:45:28,12.985805,77.737007,12.978900,77.715600
2430,1902579,2289,3556,91,2016-04-05 18:45:21,2016-04-05 18:45:47,12.985805,77.737007,12.978900,77.715600
2431,1902581,2289,3556,91,2016-04-05 18:45:41,2016-04-05 18:47:52,12.985805,77.737007,12.978900,77.715600
2432,1902584,2289,3556,91,2016-04-05 18:46:04,2016-04-05 18:48:04,12.985805,77.737007,12.978900,77.715600
2433,1902585,2289,3556,91,2016-04-05 18:46:20,2016-04-05 18:48:17,12.985805,77.737007,12.970853,77.749980
2434,1902587,2289,3556,91,2016-04-05 18:46:44,2016-04-05 18:48:29,12.985805,77.737007,12.970853,77.749980
2435,1902588,2289,3556,91,2016-04-05 18:46:59,2016-04-05 18:48:47,12.985805,77.737007,12.970853,77.749980
2436,1902589,2289,3556,91,2016-04-05 18:47:21,2016-04-05 18:49:01,12.985805,77.737007,12.970853,77.749980
2437,1902625,2289,3179,91,2016-04-05 18:55:02,NaT,12.985805,77.737007,12.970853,77.749980

In [56]:
orderDf.dtypes

order_id                        int64
seller_id                       int64
rider_id                        int64
cluster_id                      int64
scheduled_time         datetime64[ns]
delivered_time         datetime64[ns]
pickup_latitude               float64
pickup_longitude              float64
delivered_latitude            float64
delivered_longitude           float64
dtype: object

In [61]:
orderDfRemovedNat.ix[2425]

order_id                            1902569
seller_id                              2289
rider_id                               3556
cluster_id                               91
scheduled_time          2016-04-05 18:43:05
delivered_time          2016-04-05 18:44:36
pickup_latitude                     12.9858
pickup_longitude                     77.737
delivered_latitude                  12.9922
delivered_longitude                 77.7159
TimeTakenForDelivery                1.51667
Name: 2425, dtype: object

In [31]:
#Nats in the dataframe
sum(orderDf["delivered_time"].isnull())/orderDf.shape[0]

0.29819524200164071

In [32]:
orderDfRemovedNat = orderDf[orderDf["delivered_time"].notnull()]

In [38]:
orderDfRemovedNat["TimeTakenForDelivery"] = (orderDfRemovedNat["delivered_time"] - orderDfRemovedNat["scheduled_time"]).map(lambda x: x.total_seconds()/60)

/home/cmehta/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [44]:
#checking delivery time
mean = orderDfRemovedNat["TimeTakenForDelivery"].mean()
percentPeopleBelowMean = sum(orderDfRemovedNat["TimeTakenForDelivery"]<= mean)/orderDfRemovedNat.shape[0]

In [50]:
meanOfBoysDeliveringAboveTotalMean = orderDfRemovedNat["TimeTakenForDelivery"][orderDfRemovedNat["TimeTakenForDelivery"]> mean].mean()
numSuchAbovePeople = orderDfRemovedNat["TimeTakenForDelivery"][orderDfRemovedNat["TimeTakenForDelivery"]> mean].count()
maxOfSuchAbove = orderDfRemovedNat["TimeTakenForDelivery"][orderDfRemovedNat["TimeTakenForDelivery"]> mean].max()
minSuchAbove = orderDfRemovedNat["TimeTakenForDelivery"][orderDfRemovedNat["TimeTakenForDelivery"]> mean].min()

ValueError: Expected object or value